<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header full-page">
    
        <div ng-repeat="cfg in tipzy.config" class="each-setting">
            <div class="cfg-label" ng-if="cfg.property != 'selected_tip'" >
                {{cfg.label}} :
            </div>
            <div class="cfg-val">
                <input type="tel" ng-if="cfg.property != 'currency' && cfg.property != 'selected_tip'" class="divide-input form-control input-lg {{$index}}" ng-model="cfg.value">
                <button href="#" ng-if="cfg.property == 'currency'" ng-click="showCurrencyList()" class="button button-full button-small">
                    {{cfg.value}}
                </button>
            </div>
        </div>
    <button class="button save-settings button-block" ng-click="saveSettings()"> Save</button>
    </ion-content>
</ion-view>