/* Empty. Add your own CSS if you like */

.pane {
	background-image:url(../img/bg-food1.jpg);
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: 300%;
	background-size: 300%;
	background-position: 5%;
}
.item {
	background: none;
}

/* STYLES FOR THE HEADER*/

.bar.bar-stable {
	background-color: #333333;
}

.bar-stable .button {
	color: #cccccc;
}
.bar-stable .button:hover {
	color: #cccccc;
}
.bar.bar-stable .title {
	color: #dddddd;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif !important;
}


.bill-input-blk {
	background-color: rgba(85,85,85,.8);
	margin: 5px;
	color: #ffffff;
	border:0px;
	height: 70px;
	position: relative;
}
.currency {
	text-align: left;
	font-size: 36px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	/*height: 100%;*/
	width: 40px;
	margin-top: -10px;
	font-weight: 100;
	display: inline-block;
}
.bill-input-blk .item {
	border:0px;
	height: 100%;
}
.bill-input-blk .input-label.left {
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	bottom: 0px;
	left: 6px;
	padding:0px;
	width: 50px;font-family: 'Open Sans', sans-serif;
}
.bill-input-blk .input-label.right {
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	bottom: 0px;
	right: 18px;
	padding:0px;
	width: 50px;
	font-family: 'Open Sans', sans-serif;
}
.split-divider {
	position: absolute;
	font-size: 50px;
	color: #dddddd;
	left: 50%;
	font-weight: 100;
	margin-top: 20px;
}
.bill-input-blk .item-input {
	padding:0px;
	text-align: center;
	padding-left: 5px;
	margin-bottom: 10px;
}
.bill-input-blk input {
	text-align: left;
	font-size: 36px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin-top: -10px;
	font-weight: 100;
}
.splitters {
	font-size: 40px;
	color: #aaa;
	margin-top: -6px;
	width: 60px;
	font-weight: 100;
	display: inline-block;
}

.the-split {
	font-size: 36px;
	color: #ffffff;
	margin-top: -6px;
	width: 40px;
	font-weight: 100;
}

.persons-blk {
	background-color: rgba(85,85,85,.8);
	margin: 5px;
	color: #aaaaaa;
	border:0px;
	position: relative;
	font-size: 16px;
}
.calcs {
	float: right;
	margin: 22px 15px 16px 0px;
}

.persons-blk i {
	color: #aaaaaa;
	font-size: 30px;
	float: left;
	line-height: 30px;
	padding-top: 10px;
	padding-left: 15px;
}

.payable {
	/*font-size: 26px;*/
	color: #eeeeee;
	/*font-weight: bold;*/
	font-size: 30px;
	font-weight: 300;
	float: right;
	padding:15px 10px;
}

.tippable {
	font-size: 12px;
	color: #58E05C;
}

.ratings-blk {
	background-color: rgba(85,85,85,.8);
	margin: 5px;
	color: #aaaaaa;
	border:0px;
	position: relative;
	font-size: 16px;
}

.ratings-blk .row {
	padding:0px;
}

.ratings-blk .each-rating {
	width: 18%;
	display: inline-block;
	text-align: center;
	/*border-left: 1px dashed #999999;*/
	min-height: 50px;
	line-height: 50px;
	border-left:1px solid #999999;
	color: #aaaaaa;
	/*margin-left: -3px;*/
	/*margin-right: -2px;*/
}

.ratings-blk .col {
	text-align: center;
	border-left: 1px solid #999999;
	min-height: 50px;
	line-height: 50px;
	font-size: 20px;
}

.ratings-blk .col span {
	font-size: 12px;
}

.ratings-blk .col i{
	text-align: center;
	font-size: 6px;
	/* border-left: 1px solid #999999; */
	min-height: 0px;
	line-height: 10px;
	display: block;
	margin-top: -10px;
	visibility: hidden;
}

.ratings-blk .col.selected {
	color: #ffffff;
	/*border-bottom:2px solid #dddddd;*/
}

.ratings-blk .col.selected i {
	visibility: visible;
}



/* STYLES FOR MENU */

.item-complex .item-content, .item-radio .item-content {
	font-size: 14px;
	text-transform: uppercase;
	color: #555555;
}
.item-complex .item-content .icon {
	font-size: 14px;
	color: #000;
}

.each-setting {
	clear: both;
	padding:10px;
	border-bottom: 1px solid #bbb;
	/*background-color: #444;*/
}

.cfg-label {
	vertical-align: top;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #eeeeee;
}
.cfg-val {
	vertical-align: top;
	display: inline-block;
	float: right;
}

.cfg-val input {
	width: 100px;
	margin-top: -3px;
	text-align: center;
	padding:6px;
	background-color: #555;
	border-radius: 4px;
	color: #ffffff
}
.cfg-val button {
	margin:0px !important;
	width: 100px;
	background-color: #555;
	border-radius: 4px;
	color: #ffffff;
	border:0px;
}

.save-settings {
	/*position: fixed;
	bottom:0px;
	left: 0px;*/
	color: #eeeeee;
	text-transform: uppercase;
	border: 0px;
	background-color: #333;
}

.full-page {
	background-color: rgba(85,85,85,.8);

}

.aboutus {
	text-align: center;
	font-size: 18px;
	padding:20px;
	line-height: 20px;
	color: #ffffff;
}

.socialset {
	text-align: center;
	margin: 40px 10px;
}
.socialset span {
	padding: 10px;
	font-size: 30px;
	color: #dddddd;
}