/* Empty. Add your own CSS if you like */
.pane {
	background-image:url(../img/bg-pizza.jpg);
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: 300%;
	background-size: 300%;
}
.item {
	background: none;
}

.bill-input-blk {
	background-color: rgba(85,85,85,.8);
	margin: 5px;
	color: #ffffff;
	border:0px;
	height: 70px;
	position: relative;
}
.bill-input-blk .item {
	border:0px;
	height: 100%;
}
.bill-input-blk .input-label.left {
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	bottom: 0px;
	left: 6px;
	padding:0px;
	width: 50px;font-family: 'Open Sans', sans-serif;
}
.bill-input-blk .input-label.right {
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	bottom: 0px;
	right: 18px;
	padding:0px;
	width: 50px;
	font-family: 'Open Sans', sans-serif;
}
.split-divider {
	position: absolute;
	font-size: 50px;
	color: #dddddd;
	left: 50%;
	font-weight: 100;
	margin-top: 20px;
}
.bill-input-blk .item-input {
	padding:0px;
	text-align: center;
	padding-left: 5px;
	margin-bottom: 10px;
}
.bill-input-blk input {
	text-align: left;
	font-size: 36px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin-top: -10px;
	font-weight: 100;
}
.splitters {
	font-size: 40px;
	color: #aaa;
	margin-top: -6px;
	width: 60px;
	font-weight: 100;
	display: inline-block;
}

.the-split {
	font-size: 30px;
	color: #ffffff;
	margin-top: -6px;
	/*width: 40px;*/
	font-weight: 100;
}

.persons-blk {
	background-color: rgba(85,85,85,.8);
	margin: 5px;
	color: #aaaaaa;
	border:0px;
	position: relative;
	font-size: 16px;
}
.calcs {
	float: right;
	margin: 22px 15px 16px 0px;
}

.persons-blk i {
	margin:20px;
	color: #aaaaaa;
	font-size: 24px;
}

.payable {
	/*font-size: 26px;*/
	color: #1DDB23;
	font-weight: bold;
	font-size: 18px;
}

.tippable {
	font-size: 12px;
	color: #58E05C;
}

.ratings-blk {
	background-color: rgba(85,85,85,.8);
	margin: 5px;
	color: #aaaaaa;
	border:0px;
	position: relative;
	font-size: 16px;
}

.ratings-blk .each-rating {
	width: 25%;
	display: inline-block;
	text-align: center;
	border-left: 1px dashed #999999;
	min-height: 50px;
	line-height: 50px;
	color: #C93C3C;
	margin-left: -3px;
	margin-right: -2px;
}

.each-rating.last {
	padding-left: 10px;

}
.each-rating.third .fa {
	width: 4px;
	margin-left: -15px;
}
.each-rating.first .fa {
	width: 4px;
	/*margin-left: -15px;*/
	border-left: 0px;
}

.each-rating.last .fa {
	width: 4px;
	margin-left: -15px;
}

.each-rating.selected {
	background: #cccccc;
	opacity: 0.8;
}

